.gitignore


data/
#notebooks/
figures/
results_causalCSD/

dkrz_cluster.sh
dresden_cluster.sh
mpi.py

submit_job.py
submit_job_methods.py
submit_job_nonlinearCEE.py
submit_*

compute_job.py
compute_job_methods.py
compute_job_nonlinearCEE.py
compute_*

results_*
boxplots_*
graphs_*

notebooks/trash.ipynb
notebooks/test.ipynb
notebooks/plots.ipynb
notebooks/Pitchfork.ipynb
notebooks/GIS_AMOC_Klose_models.ipynb
notebooks/GIS_AMOC_simple_model.ipynb
notebooks/rescaling_detrending.ipynb
notebooks/Ritchie_AMOC.ipynb


boxplot_Caesar_CWG_KNN.pkl
boxplot_Caesar_CWG_LinReg_det.pkl
boxplot_Caesar_CWG_LinReg_fullDet_tau.pkl
boxplot_Caesar_CWG_LinReg_fullDet.pkl
boxplot_Caesar_FWF_LinReg_det_30.pkl
boxplot_Caesar_FWF_LinReg_det_40.pkl
boxplot_Caesar_FWF_LinReg_fullDet_30_tau.pkl
boxplot_Caesar_FWF_LinReg_fullDet_30.pkl
boxplot_Caesar_NU_KNN.pkl
boxplot_SNN1_CWG_LinReg_det_55.pkl
boxplot_SNN1_CWG_LinReg_fullDet_55_tau.pkl
boxplot_SNN1_CWG_LinReg_fullDet_55.pkl
boxplot_SNN1_CWG_LinReg_fullDet_70_tau.pkl
boxplot_SNN1_FWF_LinReg_det_30.pkl
boxplot_SNN1_FWF_LinReg_fullDet_30_tau.pkl
boxplot_SNN1_FWF_LinReg_fullDet_30.pkl
Causal_detection_of_critical_slowing_down__actual_.pdf
Jakob Runge's Personal Meeting Room 2024-11-21 10_20 AM_Page 1-\[1732187364140].pdf
tigramite_env.yml
__pycache__/mpi.cpython-310.pyc
__pycache__/mpi.cpython-312.pyc
functions/__pycache__/__init__.cpython-310.pyc
functions/__pycache__/__init__.cpython-312.pyc
functions/__pycache__/data_analysis.cpython-310.pyc
functions/__pycache__/generate_data.cpython-310.pyc
functions/__pycache__/generate_data.cpython-312.pyc
functions/__pycache__/helpers.cpython-310.pyc
functions/__pycache__/indicators_computation.cpython-310.pyc
functions/__pycache__/indicators_computation.cpython-312.pyc
functions/__pycache__/plots.cpython-310.pyc
functions/__pycache__/shift_detection.cpython-310.pyc
functions/__pycache__/shift_detection.cpython-312.pyc
functions/__pycache__/significance_testing.cpython-310.pyc
functions/__pycache__/significance_testing.cpython-312.pyc
functions/__pycache__/sliding_windows.cpython-310.pyc
functions/__pycache__/sliding_windows.cpython-312.pyc
functions/__pycache__/statistics_computation.cpython-310.pyc
TippingInteractions_GIS-AMOC/GIS_Wood_sim_sc_C.py
TippingInteractions_GIS-AMOC/GIS_Wood_TippingCorridor_sc_C.py
TippingInteractions_GIS-AMOC/Plotting_CascadeCorridor.py
TippingInteractions_GIS-AMOC/Plotting_CascadeCorridors_ParameterSpace.ipynb
notebooks/GIS_AMOC_Klose_model.ipynb
TippingInteractions_GIS-AMOC/LICENSE.txt

