.gitignore


all_data/
figures/
results_causalCSD/

__pycache__/
functions/__pycache__/
*.pyc
.DS_Store
*.pkl
*.pickle
*.sh
*.yml

mpi.py

submit_*
compute_*

results_*
boxplots_*
graphs_*

notebooks/others/

functions/data_analysis.py

simulations/generated_data/
simulations/indicators/