data/
#notebooks/
figures/
results_causalCSD/

dkrz_cluster.sh
dresden_cluster.sh
mpi.py

submit_job.py
submit_job_methods.py
submit_job_nonlinearCEE.py
submit_*

compute_job.py
compute_job_methods.py
compute_job_nonlinearCEE.py
compute_*

results_*
boxplots_*
graphs_*

notebooks/trash.ipynb
notebooks/test.ipynb
notebooks/plots.ipynb
notebooks/Pitchfork.ipynb
notebooks/GIS_AMOC_Klose_models.ipynb
notebooks/GIS_AMOC_simple_model.ipynb
notebooks/rescaling_detrending.ipynb
notebooks/Ritchie_AMOC.ipynb